@model IEnumerable<LitigationPlanner.Models.Company>

@{
    ViewBag.Title = "Company";
}

<h2>@ViewBag.Title</h2>

<p>
    <button type="button" class="btn btn-primary" data-toggle="collapse" href="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
        Filters
    </button>

    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>

@using (Html.BeginForm("Index", "Company", FormMethod.Get))
{
    <div class="row collapse" id="collapseExample">
         <div class="col-md-3">
            <p>Name:<br /> @Html.TextBox("SearchName", null, new { @class = "form-control" })</p>
        </div>

        <div class="col-md-3">
            <p>
                Address:<br /> @Html.TextBox("SearchAddress", null, new { @class = "form-control" })
            </p>
        </div>
        <div class="col-md-3">
            <p>
                <br />
                <input type="submit" value="Filter" class="btn btn-light" />
            </p>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            <input type="button" id="nameBtn" value="Name" class="btn btn-link" style="padding:0;" />
        </th>
        <th>
            <input type="button" id="addressBtn" value="Address" class="btn btn-link" style="padding:0;" />
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

@section scripts
{
    <script>
        $(document).ready(function () {

            var searchString = '&SearchName=' + $('#SearchName').val() + '&SearchAddress=' + $('#SearchAddress').val();

            $("#nameBtn").click(function () {
                var sortOrder = '@ViewBag.NameSortParm';
                location.href = '?sortOrder=' + sortOrder + searchString;
            });

            $("#addressBtn").click(function () {
                var sortOrder = '@ViewBag.AddressSortParm';
                location.href = '?sortOrder=' + sortOrder + searchString;
             });
        });
    </script>
}
